* {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-wrap: wrap;
    color: #aaa;
    
}

.container {
    flex: 1.4;
    padding: 2rem 9rem;
}

.img {
    display: flex;
   
}

.tarja{
    background: rgba(255, 68, 0, 0.712);
    width: 100%;
    height: 100px;
    position: absolute;
    top: 100px;
}

.foto-logo{
    border-radius: 50%;
    width: 170px;
    margin-left: 5rem;
    margin-top: 1rem;
    position: relative;
    border: 6px solid white;
    
}

.img h1{
    text-align: center;
    margin-top: 6rem;
    margin-left: 12rem;
    color: white;
    position: relative;
    text-transform: uppercase;
}

.img h3{
    text-align: center;
    margin-top: 8.5rem;
    margin-left: -11rem;
    color: white;
    position: relative;
    text-transform: uppercase;
}

.description{
    margin-top: 4rem;
    
}

.description h3{
    text-transform: uppercase;
    padding-bottom: 0.4rem;
    color: black;
}

.description p {
    text-transform: uppercase;
    
}

.data {
    position: absolute;
    display: inline-block;
    right: 600px;
    top: 320px;
}

.texto {
    padding-bottom: 4rem;
    padding-top: 4rem;
    max-width: 50rem;
}

.texto2 {
    padding-top: 4rem;

}

.assinaturas{
    display: flex;
}

.ass img{
    width: 125px;
    display: inline-block;
    
}


.rede_social{
    width: 250px;
    height: 250px;
    padding-left: 15rem;
    line-height: 0.2rem;
    opacity: 0.5;
    padding-top: 1rem;
    
    
}

.tarja_cinza {
    height: 200%;
    width: 28rem;
    background: #aaa;
    position: absolute;
    opacity: 0.25;
}